.nav {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
    position: relative;
    top: 40%;
    width: 100%;
    height: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 16, 1) 66%, rgba(7, 147, 86, 1) 100%, rgba(2, 190, 196, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.items {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    list-style-type: none;
    margin-right: 40px;
}

.items:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(26, 141, 11);
    background: linear-gradient(90deg, rgba(20, 160, 7, 0.776) 0%, rgb(1, 0, 6) 100%);
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid rgb(45, 239, 7);
    box-shadow: -4px -1px 44px 0px rgba(17, 227, 57, 0.75);
    -webkit-box-shadow: -4px -1px 44px 0px rgba(17, 227, 57, 0.75);
    -moz-box-shadow: -4px -1px 44px 0px rgba(17, 227, 57, 0.75);
}